{{partial "header.html" . }}

<body lang="en">

    {{ partial "subheader.html" . }}

    <section id="main">

        <body class="white">
            <div class="container col s12 center-align" style="height:250px">
                <h1>PartyM</h1>
                <h4>A political party for the future of the United States</h4>
            </div>
            <!--<img class="responsive-img" src="imgs/drawing.png" style="min-width: 100%">-->
            <div class="row">
                <div class="col s12 m4 l4">
                    <div class="card white z-depth-3 hoverable">
                        <div class="card-content black-text">
                            <span class="card-title">Fiscally Responsible</span>
                            <p>Balance the budget and start paying down our debt while returning more value to Americans.</p>
                        </div>
                        <div class="card-action">
                            <a class="indigo-text accent-1" href="/philosophy/#leanings">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="card white z-depth-3 hoverable">
                        <div class="card-content black-text">
                            <span class="card-title">Forward Progess</span>
                            <p>Like time, we can only move forward. We can learn from the past but decisions are forward looking.</p>
                        </div>
                        <div class="card-action">
                            <a class="indigo-text accent-1" href="/philosophy">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="card white z-depth-3 hoverable">
                        <div class="card-content black-text">
                            <span class="card-title">Information Driven</span>
                            <p>We're in the information age and we should use this trove to guide our decisions</p>
                        </div>
                        <div class="card-action">
                            <a class="indigo-text accent-1" href="/philosophy/#moving-targets">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </body>

        </html>
    </section>

    {{ partial "footer.html" . }}