<footer class="page-footer white">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="deep-purple-text"></h5>
                <p class="deep-purple-text text-lighten-4"></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="deep-purple-text"></h5>
                <ul>
                    <li><a class="deep-purple-text text-lighten-3" href="#!">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright white deep-purple-text">
        <div class="container">
            Copyright 2017 PartyM.org
        </div>
    </div>
</footer>