<footer class="page-footer white">
    <div class="container">
        <link rel="stylesheet" href="css/footer.css">
        <div class="row">
            <div class="col s12 m4 l4">
                <h5 class="grey-text text-darken-3">About</h5>
                <p>PartyM is in experimental phase and solely exists to spread interesting ideas.</p>
                <p>We are not, currently, an acutal political party.</p>
            </div>
            <div class="col s12 m4 l4">
                <h5 class="grey-text text-darken-3">Join</h5>
                <p>Want to help build out these ideas?</p>
                <p>Get Involved: <a href="mailto:helpwanted@partym.org" target="_top">helpwanted@partym.org</a></p>
            </div>
            <div class="col s12 m4 l4">
                <h5 class="grey-text text-darken-3">Connect</h5>
                <ul>
                    <li><a href="https://twitter.com/partym_org?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @partym_org</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright white deep-purple-text center-align">
        <div class="container">
            Copyright 2017 PartyM.org
        </div>
    </div>
</footer>